---
import Layout from '../layouts/Layout.astro'
---

<Layout style="text-wrap: nowrap;">
  <h1 class="ms-display">How vexingly quick daft zebras jump</h1>
  <h1>How vexingly quick daft zebras jump</h1>
  <h2>How vexingly quick daft zebras jump</h2>
  <h3>How vexingly quick daft zebras jump</h3>
  <h4>How vexingly quick daft zebras jump</h4>
  <h5>How vexingly quick daft zebras jump</h5>
  <h6>How vexingly quick daft zebras jump</h6>
  <p>How vexingly quick daft zebras jump</p>
  <button>How vexingly quick daft zebras jump</button><br />
  <small>How vexingly quick daft zebras jump</small>
</Layout>
